{% extends "booking/base.html" %}
{% block title %}Book a room{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}

        <p>
        <label for="name">Room "{{ room.name }}":</label>
        </p>

        <p>
        <label for="date">Choose date:</label>
        <input type="date" id="date" name="date" value="">
        {% if date_error %}
            {{ date_error }}
        {% endif %}
        </p>

        <p>
        <label for="comment">Comment:</label>
        <input type="text" id="comment" name="comment" placeholder="Write your notes...">
        </p>

        <p></p>
        <div>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Reservations</th>
                    </tr>
                    <tr>
                        <th style="width: 130px;">Date</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.date }}</td>
                            <td>{{ reservation.comment }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <input type="submit" value="Reserve">
    </form>
{% endblock %}
