{% extends "booking/base.html" %}
{% block title %}List of all rooms{% endblock %}
{% block content %}
<div>
    <table>
        <tr>
            <th>Name:</th>
            <td>{{ room.name }}</td>
        </tr>
        <tr>
            <th>Capacity:</th>
            <td>{{ room.capacity }}</td>
        </tr>
        <tr>
            <th>Availability</th>   <!-- TODO: range of dates / yes or no? -->
            <td></td>
        </tr>
        <tr>
            <th>Projector</th>
            <td>
                {% if room.projector_availability %} YES
                {% else %} NO
                {% endif %}
            </td>
        </tr>
    </table>
</div>
<p></p>
<div>
    <table>
        <thead>
            <tr>
                <th colspan="2">Reservations</th>
            </tr>
            <tr>
                <th style="width: 130px;">Date</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.date }}</td>
                <td>{{ reservation.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <table>
        <tr>
            <td>
                <form action={% url 'booking:edit_room' room.id %}>
                    <input class="button"type="submit" value="edit">
                </form>
            </td>
            <td>
                <form action={% url 'booking:delete_room' room.id %}>
                    <button class="button">delete</button>
                </form>
            </td>
            <td>
                <form action={% url 'booking:reserve_room' room.id %}>
                    <input class="button"type="submit" value="reserve">
                </form>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
